@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';

/* Slickのカスタムスタイル */
.slick-list {
  overflow: visible;
}

.slick-slide {
  transition: all 0.3s ease;
  transform: scale(0.9);
}

.slick-center {
  transform: scale(1);
}

.slick-arrow {
  z-index: 1;
}

/* その他のグローバルスタイル */
body {
  font-family: 'Noto Sans JP', sans-serif; /* ここで新しいフォントを指定します */
  font-size: 20px; /* デフォルトのフォントサイズを20pxに設定 */
  background-color: #f0f0f0;
  background-image: url('/background.jpg');
  background-repeat: repeat;
  background-size: 50% 50%;
}

/* ユーザー関連 */
.user-input {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
}
.user-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-sizing: border-box;
    font-size: 1.0rem;

    &:hover {
        background-color: #45a049;
    }
}
.alert-button {
  background-color: #E08080;
  color: white;
  padding: 10px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-sizing: border-box;
  font-size: 1.0rem;

  &:hover {
      background-color: #C06060;
  }
}
.user-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.user-element-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    width: 100%;
    max-width: 300px;
}
.user-head-text {
    font-size: 0.8rem;
    font-weight: bold;
    margin: 1rem 0 0 0;
}

/* header */
header {
  display: flex;
  justify-content: flex-end;
}
.header-title { /* ヘッダーのタイトル */
  font-family: 'Arial, sans-serif';
  font-size: 1.5rem;
  font-weight: bold;
}
.header-navi { /* ヘッダーのナビゲーション */   
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0rem;
}
.header-navi-item { /* ヘッダーのナビゲーションのアイテム */
  list-style: none;
  padding: 0.2rem 1rem;
  align-items: center;
}
.header-navi-icon {
  margin-right: 0.5rem;
}

/* デスクトップ */
@media (min-width: 700px) {
  .header-navi { /* ヘッダーのナビゲーション */   
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      padding: 0rem;
  }
  .header-navi-item { /* ヘッダーのナビゲーションのアイテム */
      list-style: none;
      padding: 0.5rem 1rem;
  }
}